<style>
  .inliner {
    display: inline-block;
  }

  .snugglr {
    text-align: center;
    padding: 150px;
    font-weight: 100;

  }
</style>

<h1 class="snugglr calm-bg"> Snugglr </h1>

<div class="card">
  <div class="item item-divider text-center">
    The Rules of Snugglr
  </div>
  <div class="item item-text-wrap">
    <h1 class="inliner"> 1 </h1>
    An account can only exist for 24 hours.
  </div>
  <div class="item item-text-wrap">
    <h1 class="inliner"> 2 </h1>
    You can only snap a person three times.
  </div>
  <div class="item item-text-wrap">
    <h1 class="inliner"> 3 </h1>
    No telling people your name.
  </div>
</div>

<a href="#/wall" class="button button-balanced button-block"> Get Started! </a>
