

<ion-side-menus>
   <!-- Center content -->
   <ion-side-menu-content>
      <ion-header-bar>
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <h1 class="title">Profile</h1>

        <button menu-toggle="right" class="button ion-ios7-camera-outline button-icon icon"><span ng-show="(snaps | filter:{seen: false}).length" class="badge badge-positive">{{(snaps | filter:{seen: false}).length}}</span> </button>
      </ion-header-bar>

      <ion-content>

        <div class="card">
          <div class="item item-image">
            <img ng-src="{{me.profile[imageIndex]}}" ng-show="me.profile.length">
            <div ng-show="!me.profile.length"> Let's upload a picture! </div>
          </div>

          <input style="display: inline" type="file" ng-model="entry.resume" class="form-control" id="resumeInput" ng-file-select="onFileSelect($files)" required> </input>

          <div class="item tabs tabs-secondary tabs-icn-left">
            <a class="tab-item" ng-click="imageIndex = (imageIndex - 1 + me.profile.length) % me.profile.length"> Prev Picture </a>
            <a class="tab-item" ng-click="imageIndex = (imageIndex + 1) % me.profile.length"> Next Picture </a>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item"> <i class="icon ion-thumbsup"></i>Add Picture</a>
            <a class="tab-item" ng-click="remove()"><i class="icon ion-chatbox"></i>Remove</a>
            <a class="tab-item" ng-click="swap()"><i class="icon ion-share"></i>Make First</a>
          </div>
        </div>

          <div class="list card">
            <label class="item item-input">
              <span class="input-label">Name</span>

              <input type="text" ng-model="me.name">
            </label>
            <label class="item item-input">
              <span class="input-label">Email</span>

              <input type="text" ng-model="me.auth.email">
            </label>
            <label class="item item-input">
              <span class="input-label">Phone</span>

              <input type="text" ng-model="me.phone">
            </label>
            <label class="item item-input item-select">
             <div class="input-label"> Gender </div>
             <select ng-model="me.gender"> <option>male</option> <option>female</option> </select>
             </label>
          </div>


        <div class="card item">
          <div class="row"> 
            <div class="col"> Lat: {{me.GPS.lat}} </div>
            <div class="col"> Lng: {{me.GPS.lng}} </div>
          </div>
        </div>

        <button class="button button-block button-positive" ng-click="save()"> Save </button>
     </ion-content>
   </ion-side-menu-content>

   <ion-side-menu side="left">
     <ion-header-bar>
       <h1 class="title">Menu</h1>
     </ion-header-bar>
     <ion-content scroll="false">
      <ion-list>
        <ion-item nav-clear menu-close href="#/profile"> Profile </ion-item>
        <ion-item nav-clear menu-close href="#/wall"> Wall </ion-item>
      <ion-item nav-clear menu-close href="logout"> Logout </ion-item>
    </ion-list>
    </ion-content>
   </ion-side-menu>


  <ion-side-menu side="right">
    <ion-header-bar>
      <h1 class="title">Snaps</h1>
    </ion-header-bar>
    <ion-content scroll="false">
      <ion-list>
        <ion-item class="item-thumbnail-left" ng-repeat="snap in snaps | filter:{seen: false}" nav-clear menu-close href="#/snaps/{{snap._id}}">  
          <img ng-src="{{snap.from.profile[0]}}">
          <h2> {{snap.from.name}} </h2>
          <p>  {{snap.dateSent | date:'medium'}} </p>
        </ion-item>

        <div class="item item-divider"> Previous Snaps </div>
        <ion-item class="item-thumbnail-left" ng-repeat="snap in snaps | filter:{seen: true}" nav-clear menu-close href="#/snaps/{{snap._id}}">  
          <img ng-src="{{snap.from.profile[0]}}">
          <h2> {{snap.from.name}} </h2>
          <p>  {{snap.dateSent | date:'medium'}} </p>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>


